* {
    margin: 0;
    padding: 0;
    font-family: "Lobster Two", sans-serif;
}

:root {
    --dark: #442E26;
    --mild: #612e51;
    --light: #a0608c;
    --rosewater: #D8A7B1;
    --txt-light: #ffffff;
    --txt-dark: #000000;
    --bg1:#e656de;
    --bg2:#8f2299;
    --bg3:#79145f;
    --bg4:#D8A7B1;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4));
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
    margin-top: 100px;
    border: none;
    color: var(--txt-light);
    background: var(--rosewater);
    padding: 10px;
    width: 550px;
    min-height: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: -5px 5px 15px 5px var(--txt-dark);
}

.header {
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 0.5px solid var(--txt-light);
    margin-bottom: 2rem;
    width: 100%;
    color:var(--bg3)

}

.addTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.addTask input {
    width: 65%;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
}

.addTask #addTaskBtn {
    background-color: var(--mild);
    border: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--txt-light);
    border-radius: 15px;
    width: 25%;
}

.addTask #addTaskBtn:hover {
    background-color: var(--txt-light);
    padding: 8px 18px;
    color: var(--light);
    border: 2px solid var(--mild);
}

.taskList {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: calc(100% - 20px);
    min-height: 350px;
    height: auto;

}

.taskList li {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--txt-light);
    background: var(--mild);
    border-radius: 15px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    max-width: 95%;
    flex-wrap: nowrap;
    width:calc(100% - 40px);
    word-break: break-all;
    
    
}
.taskList li:hover{
    background: var(--light);
}
.taskList li .btns{
    display: flex;
    gap: 10px;
}
.taskList li button.delBtn {
    color: var(--txt-light);
    background: url("delete.png") no-repeat center/contain;
    height: 1.75rem;
    width: 1.75rem;
    cursor: pointer;
    border: none;
    justify-self: flex-end;

}
.taskList li button.editBtn {
    color: var(--txt-light);
    background: url("edit.png") no-repeat center/contain;
    height: 1.75rem;
    width: 1.75rem;
    cursor: pointer;
    border: none;
    justify-self: flex-end;

}
.timestamp {
    font-size: 0.75rem;
    color: var(--txt-light);
    display: block;
    margin-top: 5px;
}
